<footer class="site-footer bg-gradient-eventora">
  <div class="footer-top container">
    <div class="footer-col">
      <h4>About</h4>
      <p>Eventora is your one-stop event discovery and booking platform.</p>
    </div>
    <div class="footer-col">
      <h4>Explore</h4>
      <ul>
        <li><a href="#">All Events</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Connect</h4>
      <ul>
        <li class="flex gap-2 items-center"><ng-icon name="ionLogoFacebook" /><a href="#">Facebook</a></li>
        <li class="flex gap-2 items-center"><ng-icon name="ionLogoX" /><a href="#">Twitter</a></li>
        <li class="flex gap-2 items-center"><ng-icon name="ionLogoInstagram" /><a href="#">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Eventora. All rights reserved.</p>
  </div>
</footer>
