<div
  class="flex flex-col items-center justify-start transition-all absolute right-0 top-0 bg-white w-84 h-screen z-300 fixed text-3xl text-fuchsia-800 border-l border-slate-200 shadow-lg"
>
  <img
    routerLink="/home"
    src="assets/images/Purple Gradient Letter E Logo.svg"
    class="w-35 h-35 -my-5 cursor-pointer mt-15 mb-5"
    alt="Logo"
  />
  <ul class="flex flex-col items-center justify-center gap-4">
    <li
      routerLink="/find-event"
      class="text-[20px] cursor-pointer transition-all border-b border-transparent hover:border-fuchsia-800"
    >
      Find Events
    </li>
    <li
      routerLink="/dashboard/events/create"
      class="text-[20px] cursor-pointer transition-all border-b border-transparent hover:border-fuchsia-800"
    >
      Create Events
    </li>
    <li
      class="text-[20px] cursor-pointer transition-all border-b border-transparent hover:border-fuchsia-800"
    >
      Find my Tickets
    </li>
  </ul>
  @if(!user.username){
  <div class="flex flex-col items-center justify-center gap-4 py-10">
    <button
      routerLink="/register"
      class="cursor-pointer text-lg font-normal bg-fuchsia-900 hover:bg-violet-800 w-fit py-2 shadow-lg transition-all duration-200"
    >
      Register
    </button>
    <button
      routerLink="/login"
      class="hover:underline bg-transparent text-lg cursor-pointer text-black transition-all hover:bg-slate-100 rounded-3xl"
    >
      Log In
    </button>
  </div>
  }@else {
  <div class="mt-10 flex flex-col items-center justify-center">
    <div class="rounded-full w-30 h-30 bg-gray-500 m-2"></div>
    <button
      routerLink="/dashboard/home"
      class="text-[15px] text-gray-600 bg-transparent border border-gray-600 rounded-full cursor-pointer hover:bg-gray-200"
    >
      <p>
        Go to Dashboard
      </p>
    </button>
    <button
      class="bg-transparent flex items-center justify-center"
      (click)="handleLogOut()"
    >
      <ng-icon
        title="Logout"
        name="ionLogOutOutline"
        style="cursor: pointer; color: rgb(224, 57, 57); width: 25px"
      />
      <p class="text-[15px] text-red-400 cursor-pointer">Logout</p>
    </button>
  </div>
  }
</div>
