<aside
  class="w-15 border-r border-slate-200  bg-slate-100 h-full fixed top-15 left-0 flex flex-col items-center py-4"
>
  <div class="grid gap-6">
    <div routerLink="/dashboard/home" class="hover:bg-fuchsia-900 py-2 px-3 rounded-md text-gray-700 hover:text-white cursor-pointer transition-all">
      <ng-icon name="ionHome" style="width: 25px; height: 25px;"/>
    </div>
    <div routerLink="/dashboard/events" class="hover:bg-fuchsia-900 py-2 px-3 rounded-md text-gray-700 hover:text-white cursor-pointer transition-all">
      <ng-icon name="ionCalendarOutline" style="width: 25px; height: 25px;"/>
    </div>
    <div routerLink="/dashboard/settings" class="hover:bg-fuchsia-900 py-2 px-3 rounded-md text-gray-700 hover:text-white cursor-pointer transition-all">
      <ng-icon name="ionSettingsOutline" style="width: 25px; height: 25px;"/>
    </div>
  </div>
</aside>
