<div class="w-full flex flex-col xl:px-60 px-5 pr-10 md:px-10 md:pr-15">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-4xl font-bold text-gray-900">Account Information</h1>
    <p class="text-slate-500">
      Eventora account since {{ user.date_joined | date }}
    </p>
  </div>
  <div
    class="w-full h-60 mb-10 bg-slate-200 mx-auto relative rounded-md flex items-center justify-center"
  >
    @if (profileForm.value.cover_photo) {
    <img
      [src]="profileForm.value.cover_photo"
      alt="Covere"
      class="w-full h-full object-fit"
    />
    <button
      (click)="removeCoverPhoto()"
      class="absolute top-3 right-3 bg-white text-violet-600 hover:bg-red-400 hover:text-white rounded-full p-2 cursor-pointer opacity-0 group-hover:opacity-100 transition-all duration-300 shadow-md"
      title="Remove image"
    >
      <ng-icon name="ionTrashOutline" style="width: 20px; height: 20px" />
    </button>
    } @else {
    <label
      class="cursor-pointer flex flex-col items-center justify-center text-center text-gray-700"
    >
      <input
        type="file"
        hidden
        (change)="onImageSelect($event)"
        accept=".jpg,.jpeg,.png"
      />
      <div
        class="border-dashed border border-gray-300 rounded-md p-4 flex flex-col items-center justify-center"
      >
        <ng-icon name="ionCloudUpload" style="width: 40px; height: 40px" />

        <span class="font-medium">Add a Cover photo</span>
      </div>
    </label>
    }
    <div
      class="overflow-hidden flex text-white flex-col items-center justify-center rounded-full w-30 h-30 -bottom-15 xl:w-35 xl:h-35 absolute bg-gray-400 xl:-bottom-20 left-5 border-2 border-gray-300"
    >
      @if (profileForm.value.profile_picture) {
      <img
        [src]="profileForm.value.profile_picture"
        alt="Profile"
        class="w-full h-full object-fit"
      />
      <button
        (click)="removeProfilePic()"
        class="absolute top-3 right-3 bg-white text-violet-600 hover:bg-red-400 hover:text-white rounded-full p-2 cursor-pointer opacity-0 group-hover:opacity-100 transition-all duration-300 shadow-md"
        title="Remove image"
      >
        <ng-icon name="ionTrashOutline" style="width: 20px; height: 20px" />
      </button>
      } @else {
      <label
        class="cursor-pointer flex flex-col items-center justify-center text-center text-white"
      >
        <input
          type="file"
          hidden
          (change)="onProfileImageSelect($event)"
          accept=".jpg,.jpeg,.png"
        />
        <div class="p-4 flex flex-col items-center justify-center">
          <ng-icon name="ionCamera" style="width: 40px; height: 40px" />

          <span class="font-medium leading-5">Add Profile</span>
        </div>
      </label>
      }
    </div>
  </div>
  <main class="mt-20">
    @if (user) {

    <form class="space-y-6" [formGroup]="profileForm">
      <section
        class="bg-white rounded-md p-8 shadow-sm border border-gray-200 space-y-6"
      >
        <h2 class="text-2xl font-bold text-gray-800 mb-6">Personal</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <div class="flex flex-col">
            <label for="">First Name </label>
            <input
              formControlName="first_name"
              type="text"
              placeholder="First Name"
              class="border border-gray-300 mt-1 w-full placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic active:ring-1 ring-fuchsia-700 p-3"
            />
          </div>
          <div class="flex flex-col">
            <label for="">Last Name</label>
            <input
              formControlName="last_name"
              type="text"
              placeholder="Last Name"
              class="border border-gray-300 mt-1 w-full placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic active:ring-1 ring-fuchsia-700 p-3"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <div>
            <label class="block mb-2 text-gray-700">Username</label>
            <input
              type="text"
              formControlName="username"
              name="username"
              placeholder="Username"
              class="placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic w-full border border-gray-300 rounded-md p-3 focus:ring-2 focus:ring-fuchsia-700 outline-none"
            />
          </div>
          <div>
            <label class="block mb-2 text-gray-700">Phone</label>

            <input
              type="text"
              formControlName="phone_number"
              name="phone"
              placeholder="Phone Number"
              class="placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic w-full border border-gray-300 rounded-md p-3 focus:ring-2 focus:ring-fuchsia-700 outline-none"
            />
          </div>
          <div>
            <label for="" class="block my-2 text-gray-700"
              >Role</label
            >
            <select
              name="role"
              id=""
              class="mt-1 w-full placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic active:ring-1 ring-fuchsia-700"
              formControlName="role"
              [value]="profileForm.value.role"
            >
              <option value="organizer">Organizer</option>
              <option value="attendee">Attendee</option>
            </select>
          </div>
        </div>
      </section>
      <section
        class="bg-white rounded-md p-8 shadow-sm border border-gray-200 space-y-6"
      >
        <h2 class="text-2xl font-bold text-gray-800 mb-6">Address</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <div class="flex flex-col">
            <label for="">Address </label>
            <input
              formControlName="address"
              type="text"
              placeholder="Eg. Kotei 123 Street"
              name="Address"
              class="border border-gray-300 mt-1 w-full placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic active:ring-1 ring-fuchsia-700 p-3"
            />
          </div>
          <div class="flex flex-col">
            <label for="">Country</label>
            <input
              formControlName="country"
              type="text"
              placeholder="Country"
              name="country"
              class="border border-gray-300 mt-1 w-full placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic active:ring-1 ring-fuchsia-700 p-3"
            />
          </div>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div class="flex flex-col">
            <label for="">State </label>
            <input
              formControlName="state"
              type="text"
              placeholder="State"
              name="state"
              class="border border-gray-300 mt-1 w-full placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic active:ring-1 ring-fuchsia-700 p-3"
            />
          </div>
          <div class="flex flex-col">
            <label for="">City</label>
            <input
              formControlName="city"
              type="text"
              placeholder="City"
              name="city"
              class="border border-gray-300 mt-1 w-full placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic active:ring-1 ring-fuchsia-700 p-3"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <label class="block mb-2 text-gray-700">Zip Code</label>
            <input
              type="text"
              formControlName="pin_code"
              placeholder="Zip Code"
              name="zip"
              class="placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic w-full border border-gray-300 rounded-md p-3 focus:ring-2 focus:ring-fuchsia-700 outline-none"
            />
          </div>
        </div>
      </section>
      <!-- Save Button -->
      <div class="flex justify-end mb-5">
        <button
          (click)="onSubmit()"
          type="button"
          class="bg-violet-800 hover:bg-violet-800 cursor-pointer text-white px-6 py-2 rounded-md font-semibold shadow-sm transition"
        >
          @if(loading){Loading...}@else{Save}
        </button>
      </div>
    </form>
    } @else {
    <p>Loading user info...</p>
    }
  </main>
</div>
